.indicator-tabs__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .indicator-tabs__row {
    flex-direction: column;
    width: calc(33.3333% - 20px);
  }
}

.indicator-tabs__row--charts {
  align-content: flex-end;
}

.indicator-tabs__content {
  padding: 15px 0;
}

@media (max-width: 991px) {
  .tab-input:checked + label + .tab-content,
  .indicator-tabs__content {
    display: flex;
    justify-content: space-between;
  }
  .tab-content {
    display: none;
  }
}

.indicator-tabs__col {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .indicator-tabs__col {

  }
}

.indicator-tabs__col:first-child {
  flex: 0 0 200px;
  width: 200px;
}
@media (max-width: 991px) {
  .indicator-tabs__col:first-child {
    flex: 0 0 30px;
    width: 30px;
  }
}

.cols-6 .indicator-tabs__col:not(:first-child) {
  /* (100 / 5) - (200 / 5) - 30 */
  flex: 0 0 calc(20% - 70px);
}
.cols-5 .indicator-tabs__col:not(:first-child) {
  /* (100 / 4) - (200 / 4) - 30*/
  flex: 0 0 calc(25% - 80px);
}

.cols-4 .indicator-tabs__col:not(:first-child) {
  /* (100 / 3) - (200 / 3) - 30*/
  flex: 0 0 calc(33.3333% - 96.6666px);
}

.indicator-tabs__col--label {
  font-size: 14px;
}

.indicator-tabs__col--country {
  display: flex;
  align-items: flex-end;
}

.indicator-tabs__country {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .indicator-tabs__country {
    font-size: 16px;
    white-space: nowrap;
  }
}