<div class="about modal-header">
  <h4 class="modal-title">ABOUT THE PLATFORM</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('')">
    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
  </button>
</div>
<div class="about modal-body">
  <blockquote class="block-modal text-center">
    <p class="p-modal">
      <i>Developed by the Global Facility for Disaster Reduction and Recovery (GFDRR), a trust fund hosted with the World Bank</i>
    </p>
    <img src="assets/image/logo-04.png" width="230px">
  </blockquote>
  <p>
    Every year, reports on the total economic losses from natural disasters are published,
    usually adding up to hundreds of billions of dollars each year.
    Such reports, while true, imply that the impact of disasters is limited
    to the damage inflicted on buildings, infrastructure, and agricultural production.
    However, $1 in losses does not mean the same thing to a rich person as it does to
    a poor person; the gravity of any loss depends on whom it affects, and the
    traditional focus on aggregate losses obscures the plight of poor people by
    restricting consideration to how disasters affect those wealthy enough to have
    considerable assets to lose in the first place.
  </p>

  <p>
    In 2016, the World Bank released Unbreakable, a flagship report that goes beyond
    traditional metrics like gross asset losses to examine how natural disasters
    affect people’s well-being. In an average year, the poorest 20% of people in a
    country suffer less than 10% of aggregate asset losses, but fully 25% of aggregate
    well-being losses. In other words, poor people suffer only a fraction of gross
    economic losses caused by natural disasters, but they bear a much larger brunt of natural disasters’
    consequences. This approach takes fuller account of how poverty increases
    people’s vulnerability to natural disasters, and how natural disasters trap people in poverty.
  </p>

  <p>
    Learn more about GFDRR and the <a class="link" target="_blank"
                                      href="https://openknowledge.worldbank.org/handle/10986/25335">Unbreakable
    Report.</a>
  </p>

  <!--<p>
    Disclaimer: The boundaries, colors, denominations, and other information shown on any map in this work do not imply
    any judgment on the part of The World Bank concerning the legal status of any territory or the endorsement or
    acceptance of such boundaries.
  </p>-->
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('')">Close</button>
</div> -->
