<div class="policy-list-chart">
  <div class="policy-list-chart-legend">
    <div class="chart-legend-title">Absolute terms</div>
    <div class="chart-legend-subtitle">US$, millions per year</div>
    <div class="chart-legend-detail-wrapper">
      <div class="chart-legend-ellipse ellipse-blue"></div>
      <div class="chart-legend-detail detail-margin">Avoided well-being losses</div>
      <div class="chart-legend-ellipse ellipse-gray"></div>
      <div class="chart-legend-detail">Avoided asset losses</div>
    </div>
  </div>
  <div class="policy-list-chart__chart" [attr.id]="chartId">
  </div>
</div>
