<div [ngClass]="{'footer-special': check()}">
  <div class="container-fluid term-use-wrapper">
    <div class="row">
        <div class="col-md-12">
          <a class="terms-use" href="http://www.worldbank.org/en/about/legal">Terms of Use</a>
        </div>
    </div>
  </div>
  <footer>
    <div class="container">
        <div class="row">
          <div class=" col-md-12">
              <a href="http://www.worldbank.org/en/topic/disasterriskmanagement"><img src="assets/image/logo-WBG.png" class="footer-logo" alt=""></a>
              <a href="https://www.gfdrr.org/en"><img src="assets/image/logo-GFD.png" alt=""></a>
          </div>
        </div>
    </div>
  </footer>
</div>
