<!-- <nav id="navbar-example" class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" routerLink="/"><img _ngcontent-c3="" alt="" src="assets/image/logo-04.png"
        width="230px"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/viewer">COUNTRY</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/specificpolicymeasure">POLICY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/full-analysis">ANALYTICAL TOOL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://openknowledge.worldbank.org/handle/10986/25335" target="_blank">REPORT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onScrollAboutElEvent($event)">ABOUT</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav>
  <ul class="nav__menu"></ul>
  <li class="nav__logo">
    <a href="#"><img src="assets/image/logo-04.png" alt="Unbreakable Resilience Indicator logo" width="230px"></a>
  </li>
  <li class="nav__item">
    <a href="" routerLink="/viewer">COUNTRY</a>
  </li>
  <li class="nav__item">
    <a href="" routerLink="/specificpolicymeasure">POLICY</a>
  </li>
  <li class="nav__item">
    <a href="" routerLink="/full-analysis">ANALYTICAL TOOL</a>
  </li>
  <li class="nav__item">
    <a href="" href="https://openknowledge.worldbank.org/handle/10986/25335" target="_blank">REPORT</a>
  </li>
  <li class="nav__item">
    <a href="" (click)="onScrollAboutElEvent($event)">ABOUT</a>
  </li>
</nav>
