<div class="navbar__wrapper container">
  <div class="navbar__inner">
    <div class="navbar__header">
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar__brand" routerLink="/">
        <img class="navbar__logo" src="assets/image/logo-04.png" width="230px">
      </a>
    </div>
    <nav class="navbar__nav">
      <div class="navbar__item">
        <a class="navbar__link" routerLink="/countrytool" routerLinkActive="is-active">Country</a>
      </div>
      <div class="navbar__item">
        <a class="navbar__link" routerLink="/policytool" routerLinkActive="is-active">Policy</a>
      </div>
      <div class="navbar__item">
        <a class="navbar__link" routerLink="/advancedtool" routerLinkActive="is-active">Analytical tool</a>
      </div>
      <div class="navbar__item">
        <a class="navbar__link" href="https://openknowledge.worldbank.org/handle/10986/25335" target="_blank">Report</a>
      </div>
      <div class="navbar__item">
        <a class="navbar__link navbar__link--about" (click)="onScrollAboutElEvent($event)">About</a>
      </div>
    </nav>
  </div>
</div>
