<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="#"><img class="icon-img"src="assets/image/icon-nav.png" alt="">RESILIENCE INDICATOR DATA VISUALIZATION PLATFORM</a>
   <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="">ABOUT</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="" routerLink="/viewer">MAP</a>
         </li>
         <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
               <a class="nav-link" href="" id="dropdownBasic1" ngbDropdownToggle routerLink="/policyprioritylist">
               SCORE CARD
               </a>
               <div class="dropdown-menu navbar-dropdown" aria-labelledby="dropdownBasic1">
                  <a class="dropdown-item navbar-item" href="#" routerLink="/policyprioritylist">Policy Priority List</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item navbar-item" href="#" routerLink="/specificpolicymeasure">Specific Policy Measure</a>
               </div>
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="" routerLink="/contact">CONTACT</a>
         </li>
      </ul>
   </div>
</nav>
