<div class="cookie-policy">
  <div class="wrapper">
    <h1>Privacy Notice</h1>

    <p>The International Bank for Reconstruction and Development (IBRD), the International Development Association (IDA)
      (together the “World Bank” or “Bank”, “GFDRR”, “we” or “us”) respect your concerns about privacy. This Privacy
      Notice applies to the personal data that we collect and handle for the purposes of maintaining this website. For
      the purposes of this Privacy Notice, “personal data” means any information relating to an identified or
      identifiable individual.</p>

    <h3>INFORMATION WE COLLECT</h3>
    <h4>Information You Provide to Us</h4>
    <p>Any information that you voluntarily provide to us will be used for the sole purpose for which it was provided to
      us.</p>

    <h4>Information We Collect by Automated Means</h4>
    <h4>Use of cookies</h4>
    <p>This site uses cookies to optimize functionality and give you the best possible experience. If you continue to
      navigate this website beyond this page, cookies will be placed on your browser. To learn more about cookies,
      <a href="http://www.allaboutcookies.org/" target="_blank">click here.</a></p>

    <h4>IP Addresses</h4>
    <p>In addition, GFDRR also records your IP address, which is the Internet address of the computer you are using to
      access the sites, and information such as your browser type and operating system. This information helps us learn
      about the geographical distribution of our website visitors and the technology they use to access our sites. This
      information is never connected with the personal information you supply to us if you register on our website.</p>

    <h4>Information We Collect from Third Parties</h4>
    <p>We do not collect any information on you from other sources.</p>

    <h3>INFORMATION WE SHARE</h3>
    <p>We do not sell or otherwise disclose personal data collected as set out above, except as described in this
      Privacy Notice. The Bank has and will continue to contract with third-party vendors to track and analyze
      information about the usage of our sites.</p>

    <h3>SPECIFIC PURPOSES OF PROCESSING</h3>
    <p>The purpose of this data collection is so that the Bank can better understand the preferences of its visitors and
      improve its sites and services. This information is also gathered so that the Bank can better understand the usage
      of its Sites and improve it. None of this information will be used to identify individual site visitors. Only
      summaries of visitors’ behavior are produced. Examples of this type of information include statistics on most
      popular and least popular pages.</p>

    <h3>TYPES OF PROCESSING</h3>
    <p>The data collected on this site undergoes automated processing for the sole purpose of website functionality and
      user experience. Manual processing may be applied if problems are discovered on the Site.</p>

    <h3>HOW WE PROTECT THE INFORMATION</h3>
    <p>The Bank maintains appropriate technical and organizational safeguards against unauthorized processing of
      personal data and against accidental loss, destruction or damage.</p>

    <h3>HOW LONG WE KEEP THE INFORMATION</h3>
    <p>Your personal data will be kept only as long as necessary for the purposes set out in this Privacy Notice and in
      accordance with applicable records retention and disposition schedules.</p>
    <p>If you have any questions about this Privacy Notice, please contact gfdrr@worldbank.org.</p>

    <h3>CONSENT</h3>
    <p>By navigating past this page, you are voluntarily consenting to each disclosure above.</p>

  </div>
</div>
