.callout-body {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.callout-body-inner {
  width: 50%;
  margin: 4rem;
}

.callout-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 100%;
}

.callout-title {
  color: #50C4CF;
}

.callout-text {
  color: white;
}

.btn-callout {
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: transparent;
  border-color: #50C4CF;
  color: #50C4CF;
}

.card-deck {
  margin-top: 1.5rem;
}

.card-img-top {
  width: 100%;
}

.card-body {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.card-title {
  color: #50C4CF;
  font-weight: normal;
  text-align: center;
}

.card-text {
  color: white;
}

.card-link {
  text-align: center;
}

.card-link a {
  text-transform: uppercase;
  color: #50C4CF;
}

.card-link a:hover {
  text-decoration: none;
}
