<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <img class="callout-img" src="assets/image/banner-image-landing-page.png" alt="Card image cap">
      <div class="callout-body">
        <div class="callout-body-inner">
          <h2 class="callout-title">Mitigating losses and helping people escape from poverty</h2>
          <p class="callout-text">Economic losses from natural disasters totaled $210 billion in 2016. Such statements,
            while true, imply that the impact of natural disasters is limited to the damage inflicted on buildings,
            infrastructure, and agricultural production. However, $1 in losses does not mean the same thing to a rich
            person as it does to a poor person; the gravity of</p>
          <a class="btn btn-primary btn-callout" href="#">Learn More</a>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Interested in a country?</h4>
          <p class="card-text">How resilient is your country? Click here to find information on policy options in a
            specific country and make quick comparisons with other countries or global and regional averages.</p>
          <div class="card-link">
            <a href="/viewer">Explore
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 12.1 20" style="enable-background:new 0 0 12.1 20;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#51C5D0;}
              </style>
              <path class="st0" d="M0,2.1L7.9,10L0,17.9L2.1,20l10-10L2.1,0L0,2.1z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Interested in a policy area?</h4>
          <p class="card-text">What are the most effective policy measures to strengthen resilience and avoid
            disaster losses? Click here to explore our policy scorecard assessing disaster risk management, social
            protection, financial inclusion and other measures.</p>
          <div class="card-link">
            <a href="/policyprioritylist">Explore
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 12.1 20" style="enable-background:new 0 0 12.1 20;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#51C5D0;}
              </style>
              <path class="st0" d="M0,2.1L7.9,10L0,17.9L2.1,20l10-10L2.1,0L0,2.1z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Access full analytical tool</h4>
          <p class="card-text">Explore specific policy scenarios for all countries included in the unbreakable
            indicator model. Manually adjust country conditions to assess impacts on resilience and avoided disaster
            losses.</p>
          <div class="card-link">
            <a href="/specificpolicymeasure">Explore
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 12.1 20" style="enable-background:new 0 0 12.1 20;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#51C5D0;}
              </style>
              <path class="st0" d="M0,2.1L7.9,10L0,17.9L2.1,20l10-10L2.1,0L0,2.1z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [selection]="false"></app-footer>
