<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <img class="callout-img" src="assets/image/banner-image-landing-page.png" alt="Card image cap">
      <div class="callout-body">
        <h1 class="callout-title">Mitigating losses and helping people escape from poverty</h1>
        <p class="callout-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat, sapien eget
          malesuada viverra, sem nisl commodo tellus, ut blandit est orci vestibulum magna. In eleifend pellentesque lorem, eget bibendum quam finibus id. Integer non justo quis augue tempor porta vel at turpis. Morbi non feugiat ante, ac ornare ipsum. Praesent consectetur suscipit pharetra</p>
        <a class="callout-link" href="#">Learn More</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Interested in a country?</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer. This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-link" href="#">Explore</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Interested in a policy area?</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer. This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-link" href="#">Explore</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/image/kitten.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Access full analytical tool</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer. This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-link" href="#">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [selection]="false"></app-footer>
