<div class="container">
   <div class="row">
      <div class="col-md-12 scorecard-title">
         <a href="" routerLink="/viewer"><button type="button" class="btn button-map"><i class="mdi mdi-keyboard-backspace"></i> Map</button></a>
         <h6>Policy Scenario Across the Globe</h6>
         <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-politics" id="dropdownBasic1" ngbDropdownToggle>Increase social transfers to poor people to at least 33%</button>
            <div class="dropdown-menu dropdown-politics-menu" aria-labelledby="dropdownBasic1">
               <button class="dropdown-item dropdown-politics-item">Reduce exposure of the poor by 5% of total exposure</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Accelerate reconstruction (by 33%)</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Universal access to early warnings</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Post-disaster support package</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Reduce asset vulnerability (by 30%) of poor people (5% population)</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Develop market insurance (non-poor people)</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Reduce exposure of the non-poor by 5% of total exposure</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Universal access to finance</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Increase income of the poor 10%</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Reduce asset vulnerability (by 30%) of non-poor people (5% population)</button>
            </div>
         </div>
         by
         <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-politics" id="dropdownBasic1" ngbDropdownToggle>Region</button>
            <div class="dropdown-menu dropdown-politics-menu" aria-labelledby="dropdownBasic1">
               <button class="dropdown-item dropdown-politics-item">East Asia & Pacific</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Europe & Central Asia</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Latin America & Caribbean</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Middle East & North Africa</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">North America</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">South Asia</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Sub-Saharan Africa</button>
            </div>
         </div>
         <button type="button" class="btn btn-primary text-download box-button-pdf"><img class="img-download" src="assets/image/ic-download.png" alt="">PDF</button>
      </div>
   </div>
   <div class="row">
      <div class="col-md-5 box-terms">
         <h6>Absolute Terms</h6>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
            Avoided well-being losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort">
         </label>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
            Avoided asset losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort">
         </label>
         <div class="row">
            <div class="col-md-3">
               <div class="box-text-policy">
                  China
               </div>
               <div class="box-text-policy">
                  Philipines
               </div>
               <div class="box-text-policy">
                  Peru
               </div>
               <div class="box-text-policy">
                  Colombia
               </div>
               <div class="box-text-policy">
                  United States
               </div>
            </div>
            <div class="col-md-9">
               <h6 class="scorecard-img">US$, millions per year</h6>
               <img src="" alt="">
            </div>
         </div>
      </div>
      <div class="col-md-5">
         <h6>Relative Terms</h6>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
            Avoided well-being losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort">
         </label>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
            Avoided asset losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort">
         </label>
         <div class="row">
            <div class="col-md-9">
               <h6 class="scorecard-img">US$, millions per year</h6>
            </div>
         </div>
      </div>
   </div>
</div>
