<app-navbar></app-navbar>
<div class="container">
   <div class="row">
      <div class="col-md-12 scorecard-title">
         <a href="" routerLink="/viewer"><button type="button" class="btn button-map"><i class="mdi mdi-keyboard-backspace"></i> Map</button></a>
         <h6>Policy Scenario Across the Globe</h6>
         <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-politics" id="dropdownPolicy" ngbDropdownToggle>{{selectedPolicyUIList.label}}</button>
            <div class="dropdown-menu dropdown-politics-menu" aria-labelledby="dropdownPolicy">
                <div class="list" *ngFor="let policy of policyGroupUIList; let aIndex = index">
                    <button (click)="onScorecardPolicyChange(policy)" class="dropdown-item dropdown-politics-item">{{policy.label}}</button>
                    <div *ngIf="aIndex !== policyGroupUIList.length - 1" class="dropdown-divider-1"></div>
                </div>
            </div>
         </div>
         by
         <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-politics" id="dropdownBasic1" ngbDropdownToggle>{{selectedRegionUIList.label}}</button>
            <div class="dropdown-menu dropdown-politics-menu" aria-labelledby="dropdownBasic1">
                <div class="list" *ngFor="let region of regionUIList; let aIndex = index">
                    <button (click)="onScorecardRegionChange(region)" class="dropdown-item dropdown-politics-item">{{region.label}}</button>
                    <div *ngIf="aIndex !== regionUIList.length - 1" class="dropdown-divider-1"></div>
                </div>
               <!-- <button class="dropdown-item dropdown-politics-item">East Asia & Pacific</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Europe & Central Asia</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Latin America & Caribbean</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Middle East & North Africa</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">North America</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">South Asia</button>
               <div class="dropdown-divider-1"></div>
               <button class="dropdown-item dropdown-politics-item">Sub-Saharan Africa</button> -->
            </div>
         </div>
         <button type="button" class="btn btn-primary text-download box-button-pdf"><img class="img-download" src="assets/image/ic-download.png" alt="">PDF</button>
      </div>
   </div>
   <div class="row border-content"></div>
   <div class="row">
      <div class="col-md-5 box-terms">
         <h6 class="box-title-terms">Absolute Terms</h6>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
            Avoided well-being losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort" (click)="onSortChartDataEvent('1', 'sortUISelectedLblChart11')">
            <b>{{sortUISelectedLblChart11}}</b>
         </label>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
            Avoided asset losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort" (click)="onSortChartDataEvent('2', 'sortUISelectedLblChart12')">
            <b>{{sortUISelectedLblChart12}}</b>
         </label>
         <div class="row box-title-terms">
            <div class="col-md-12">
                <div id="policyMeasure0"></div>
            </div>
         </div>
      </div>
      <div class="col-md-5">
         <h6 class="box-title-terms">Relative Terms</h6>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
            Avoided well-being losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort" (click)="onSortChartDataEvent('1', 'sortUISelectedLblChart21')">
            <b>{{sortUISelectedLblChart21}}</b>
         </label>
         <label class="text-sort">
            <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
            Avoided asset losses
            <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
            <img class="icon-sort" (click)="onSortChartDataEvent('2', 'sortUISelectedLblChart22')">
            <b>{{sortUISelectedLblChart22}}</b>
         </label>
         <div class="row box-title-terms">
                <div class="col-md-12">
                    <div id="policyMeasure1"></div>
                </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>