<div class="container">
   <div class="row">
      <div class="col-md-12 scorecard-title">
         <a href="" routerLink="/viewer"><button type="button" class="btn button-map"><i class="mdi mdi-keyboard-backspace"></i> Map</button></a>
         <h6>Policy Priority List</h6>
         <div class="scorecard-input">
            <input  type="text" class="form-control" placeholder="" name="firstCountry" [ngbTypeahead]="searchCountryFn" #firstCountry="ngModel" [(ngModel)]="policyModel.firstCountry" (ngModelChange)="onFirstCountryInputChangeEvent()" placeholder="Country 1"/>
            <button type="button" class="btn btn-outline-secondary icon-plus"><i class="mdi mdi-plus"></i></button>
            <input  type="text" class="form-control" placeholder="" name="secondCountry" [ngbTypeahead]="searchCountryFn" #secondCountry="ngModel" [(ngModel)]="policyModel.secondCountry" (ngModelChange)="onSecondCountryInputChangeEvent()" placeholder="Country 2"/>
         </div>
         <button type="button" class="btn btn-primary text-download box-button-pdf"><img class="img-download" src="assets/image/ic-download.png" alt="">PDF</button>
      </div>
   </div>
   <div class="row border-content"></div>
   <div class="row">
      <div class="col-md-6 box-policyprioritylist vertical-border">
         <div class="col-md-12">
            <h5>{{policyModel.firstCountry || 'Country 1'}}</h5>
            <p class="scorecard-text"><b>GDP:</b> $21.843 billion</p>
            <p class="scorecard-text"><b>Population (2013 estimate):</b> 16.407.000</p>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-12">
                  <h6 class="">RESULTS
                     <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                     <i class="mdi mdi-information-outline"></i>
                     </button>
                  </h6>
                  <span><img src="assets/image/icon-map.png" alt=""> Global Histogram</span>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="outputs-1"></div>
                </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 box-policyprioritylist">
         <div class="col-md-12">
            <h5>{{policyModel.secondCountry || 'Country 2'}}</h5>
            <p class="scorecard-text"><b>GDP:</b> $28.826 billion</p>
            <p class="scorecard-text"><b>Population (2013 estimate):</b> 12.973.808</p>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-12">
                  <h6 class="">RESULTS
                     <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                     <i class="mdi mdi-information-outline"></i>
                     </button>
                  </h6>
                  <span><img src="assets/image/icon-map.png" alt=""> Global Histogram</span>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="outputs-2"></div>
                </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row border-content"></div>
   <div class="row">
      <div class="col-md-6 box-policyprioritylist-1 vertical-border">
         <div class="row">
            <div class="col-md-12 box-title-policyprioritylist">
               <h6 class="">RESILIENCE FACTORS
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
               </h6>
               <label class="text-sort">
                  <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
                  Avoided well-being losses
                  <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
                  <img class="icon-sort">
               </label>
               <label class="text-sort">
                  <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
                  Avoided asset losses
                  <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
                  <img class="icon-sort">
               </label>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h6 class="">POLICIES
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
               </h6>
            </div>
         </div>
         <div class="row">
            <div class="col-md-5">
               <div class="box-text-policies">
                  Increase social transfers to poor people to at least 33%
               </div>
               <div class="box-text-policies">
                  Reduce exposure of the poor by 5% of total exposure
               </div>
               <div class="box-text-policies">
                  Accelerate reconstruction (by 33%)
               </div>
               <div class="box-text-policies">
                  Universal access to early warnings
               </div>
               <div class="box-text-policies">
                  Post-disaster support package
               </div>
               <div class="box-text-policies">
                  Reduce asset vulnerability (by 30%) of poor people (5% population)
               </div>
               <div class="box-text-policies">
                  Develop market insurance (non-poor people)
               </div>
               <div class="box-text-policies">
                  Reduce exposure of the non-poor by 5% of total exposure
               </div>
               <div class="box-text-policies">
                  Universal access to finance
               </div>
               <div class="box-text-policies">
                  Increase income of the poor 10%
               </div>
               <div class="box-text-policies">
                  Reduce asset vulnerability (by 30%) of non-poor people (5% population)
               </div>
            </div>
            <div class="col-md-7">
               <h6 class="scorecard-img">US$, millions per year</h6>
            </div>
         </div>
      </div>
      <div class="col-md-6 box-policyprioritylist-1">
         <div class="row">
            <div class="col-md-12 box-title-policyprioritylist">
               <h6 class="">RESILIENCE FACTORS
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
               </h6>
               <label class="text-sort">
                  <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
                  Avoided well-being losses
                  <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
                  <img class="icon-sort">
               </label>
               <label class="text-sort">
                  <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
                  Avoided asset losses
                  <!-- <i class="mdi mdi-unfold-more-horizontal"></i> -->
                  <img class="icon-sort">
               </label>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h6 class="">POLICIES
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
               </h6>
            </div>
         </div>
         <div class="row">
            <div class="col-md-5">
               <div class="box-text-policies">
                  Increase social transfers to poor people to at least 33%
               </div>
               <div class="box-text-policies">
                  Reduce exposure of the poor by 5% of total exposure
               </div>
               <div class="box-text-policies">
                  Accelerate reconstruction (by 33%)
               </div>
               <div class="box-text-policies">
                  Universal access to early warnings
               </div>
               <div class="box-text-policies">
                  Post-disaster support package
               </div>
               <div class="box-text-policies">
                  Reduce asset vulnerability (by 30%) of poor people (5% population)
               </div>
               <div class="box-text-policies">
                  Develop market insurance (non-poor people)
               </div>
               <div class="box-text-policies">
                  Reduce exposure of the non-poor by 5% of total exposure
               </div>
               <div class="box-text-policies">
                  Universal access to finance
               </div>
               <div class="box-text-policies">
                  Increase income of the poor 10%
               </div>
               <div class="box-text-policies">
                  Reduce asset vulnerability (by 30%) of non-poor people (5% population)
               </div>
            </div>
            <div class="col-md-7">
               <h6 class="scorecard-img">US$, millions per year</h6>
            </div>
         </div>
      </div>
   </div>
</div>
