<app-navbar></app-navbar>
<div class="container">
   <div class="row">
      <div class="col-md-12 scorecard-title">
         <a href="" routerLink="/viewer"><button type="button" class="btn button-map"><i class="mdi mdi-keyboard-backspace"></i> Map</button></a>
         <h6>Policy Priority List</h6>
         <div class="scorecard-input">
            <input  type="text" class="form-control" placeholder="" name="firstCountry" [ngbTypeahead]="searchCountryFn" #firstCountry="ngModel" [(ngModel)]="policyModel.firstCountry" (ngModelChange)="onFirstCountryInputChangeEvent()" placeholder="Country 1"/>
            <button type="button" class="btn btn-outline-secondary icon-plus"><i class="mdi mdi-plus"></i></button>
            <input  type="text" class="form-control" placeholder="" name="secondCountry" [ngbTypeahead]="searchCountryFn" #secondCountry="ngModel" [(ngModel)]="policyModel.secondCountry" (ngModelChange)="onSecondCountryInputChangeEvent()" placeholder="Country 2"/>
         </div>
         <button type="button" class="btn btn-primary text-download box-button-pdf"><img class="img-download" src="assets/image/ic-download.png" alt="">PDF</button>
      </div>
   </div>
   <div class="row border-content"></div>
   <div class="row">
      <div class="col-md-6 box-policyprioritylist vertical-border">
         <div class="col-md-12">
            <h5>{{policyModel.firstCountry || 'Country 1'}}</h5>
            <p class="scorecard-text"><b>GDP:</b> ${{firstCountryGDP}}&nbsp;USD</p>
            <p class="scorecard-text"><b>Population (2013 est.):</b> {{firstCountryPopulation}}</p>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-12">
                  <h6 class="">RESULTS
                     <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                     <i class="mdi mdi-information-outline"></i>
                     </button>
                  </h6>
                  <span><img src="assets/image/icon-map.png" alt=""> Global Histogram</span>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="outputs-1"></div>
                </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 box-policyprioritylist">
         <div class="col-md-12">
            <h5>{{policyModel.secondCountry || 'Country 2'}}</h5>
            <p class="scorecard-text"><b>GDP:</b> ${{secondCountryGDP}}&nbsp;USD</p>
            <p class="scorecard-text"><b>Population (2013 est.):</b> {{secondCountryPopulation}}</p>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-12">
                  <h6 class="">RESULTS
                     <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                     <i class="mdi mdi-information-outline"></i>
                     </button>
                  </h6>
                  <span><img src="assets/image/icon-map.png" alt=""> Global Histogram</span>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="outputs-2"></div>
                </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row border-content"></div>
   <div class="row">
        <div class="col-md-12 box-policyprioritylist-1">
            <div class="row">
                <div class="col-md-12 box-title-policyprioritylist">
                    <h6 class="">RESILIENCE FACTORS
                        <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                        <i class="mdi mdi-information-outline"></i>
                        </button>
                    </h6>
                    <label class="text-sort">
                        <i class="mdi mdi-checkbox-blank-circle box-icon-a"></i>
                        Avoided well-being losses
                        <img class="icon-sort" (click)="onSortChartDataEvent({barType: '1', charts:['policy-list1', 'policy-list2']})" />
                    </label>
                    <label class="text-sort">
                        <i class="mdi mdi-checkbox-blank-circle box-icon-c"></i>
                            Avoided asset losses
                        <img class="icon-sort" (click)="onSortChartDataEvent({barType: '2', charts:['policy-list1', 'policy-list2']})" />
                    </label>
                    <!-- <div class="row">
                        <div class="switch-btn">
                            <label class="toggle-switch nolabel">
                                <input type="checkbox" style="width: 100%;" [checked]="switchUICmpVal" ([ngModel])="switchUICmpVal" (click)="onChangeChartTypeEvent()"/>
                                <span>
                                <span>Absolute</span>
                                <span>Relative</span>
                                </span>
                                <a></a>
                            </label>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row border-content"></div>
    <div class="row scorecard-prioritylist">
        <div class="col-md-6 box-policyprioritylist-1 vertical-border">
            <div class="row">
                <div class="col-md-12">
                <h6 class="">POLICIES
                    <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                    <i class="mdi mdi-information-outline"></i>
                    </button>
                </h6>
                </div>
            </div>
            <div class="row pad-botTop10">
                <div class="col-md-12 ">
                <div class="row" id="policy-list1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 box-policyprioritylist-1">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="">POLICIES
                        <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                        <i class="mdi mdi-information-outline"></i>
                        </button>
                    </h6>
                </div>
            </div>
            <div class="row pad-botTop10">
                <div class="col-md-12">
                    <div class="row" id="policy-list2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>