.callout-body {
  position: absolute;
  height: 100%;
  width: 100%;
  /* width: 50%; */
  right: 0;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.6);
}

.callout-body-label {
  background-color: var(--teal);
  color: #fff;
  display: inline block;
  padding: 5px;
}

@media (max-width: 1200px) {
  .callout-body {
    /*width: 60%;*/
  }
}

.callout-body-inner {
  /* width: 100%;*/
  /* width: 65%; */
  text-align: center;
  /*margin: 3rem 0rem 2rem 5.5rem;*/
  padding: 3rem 5.5rem 2rem 5.5rem;
}

@media (max-width: 1400px) {
  .callout-body-inner {
    /* width: 75%; */
  }
}

@media (max-width: 1000px) {
  .callout-body-inner {
    margin-left: 2rem;
    /* width: 85%; */
  }
}

@media (max-width: 900px) {
  .callout-body-inner {
    margin-top: 1rem;
    margin-left: 1rem;
    /* width: 95%; */
  }
}

.callout-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 100%;
}

@media (max-width: 768px) {
  .callout-img {
    height: 300px;
  }
}

.callout-title {
  color: #51C5D0;
}

.callout-text {
  color: white;
  font-size: 16px;
  padding: 15px 0px 20px 0px;
  line-height: 1.25;
}

@media (max-width: 768px) {
  .callout-text {
    display: none;
  }
}

.btn-callout {
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: transparent;
  border-color: #51C5D0;
  color: #51C5D0;
}

@media (max-width: 768px) {
  .callout-body {
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}


.callout {

}

.callout__banner {
  height: 300px;
  background-size: cover;
  background-image: url('/assets/image/flood-banner-5-13.png');
  position: relative;
}

.callout__banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.callout__row,
.callout__container {
  height: 100%;
}

.callout__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.callout__prefix {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  font-weight: 900;
}

h1,
h1.callout__prefix {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: normal;
}

.callout__intro {
  width: calc(66.6666% - 15px);
  font-size: 21px;
  line-height: 1.4;
}

.is-landing .callout__intro {
  color: var(--teal);
}

.callout__intro-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-light);
}
