.welcome-modal {

}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

img.modal__logo {
  height: 30px;
  width: auto;
  margin: 5px;
}

img.modal__logo:nth-child(2) {
  height: 40px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer {
  justify-content: space-between;
}

button {
  cursor: pointer;
}

button.btn__more {
  justify-self: flex-start;
}