<div class="container">
   <div class="row">
      <div class="col-md-8 vertical-border">
         <div class="row">
            <div class="col-md-12 fondo-map">
                <ngb-carousel [interval]="0" class="carousel-ctn" (slide)="onSlideChangeEvent($event)">
                  <ng-template ngbSlide id="socio-sl">
                    <br/>
                    <br/>
                     <div class="carousel-caption">
                        <h6 class="text-carousel">SOCIO-ECONOMIC CAPACITY (%)</h6>
                     </div>
                  </ng-template>
                  <ng-template ngbSlide id="well-sl">
                    <br/>
                    <br/>
                     <div class="carousel-caption">
                        <h6 class="text-carousel">EXPECTED WELL-BEING LOSSES (% of GDP)</h6>
                     </div>
                  </ng-template>
                   <ng-template ngbSlide id="asset-sl">
                       <br/>
                       <br/>
                       <div class="carousel-caption">
                          <h6 class="text-carousel">EXPECTED ASSET LOSSES (% of GDP)</h6>
                       </div>
                   </ng-template>
               </ngb-carousel>
               <div id="map"></div>
            </div>
         </div>
         <div class="row border-content">
            <div class="col-md-12">
               <h6 class="title-results">RESULTS
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
                  <span><i class="mdi mdi-checkbox-blank-circle box-icon-c"></i> Country</span>
                  <span><img src="assets/image/icon-map.png" alt=""> Global Average</span>
               </h6>
            </div>
         </div>
         <div class="row border-content">
            <div class="col-md-12">
               <div class="form-group bottom-results" [class.has-danger]="searchFailed">
                  <input type="text" class="form-control" [(ngModel)]="viewerModel.firstCountry" disabled placeholder="Country 1" />
                  <span *ngIf="searching">searching...</span>
                  <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
               </div>
            </div>
            <div class="col-md-12">
              <div class="row" id="outputs-1"></div>
            </div>
            <!--<div class="col-md-4">-->
               <!--<p class="text-results">RISK TO ASSETS<br><b class="text-number">71.19%</b></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
               <!--<p class="text-results">SOCIO-ECONOMIC CAPACITY<br><b class="text-number">71.19%</b></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
               <!--<p class="text-results">RISK TO<br>WELL-BEING<br><b class="text-number">71.19%</b></p>-->
            <!--</div>-->
         </div>
         <div class="row border-content">
            <div class="col-md-12">
               <div class="form-group bottom-results" [class.has-danger]="searchFailed">
                  <input type="text" class="form-control" [(ngModel)]="viewerModel.secondCountry" disabled placeholder="Country 2" />
                  <span *ngIf="searching">searching...</span>
                  <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
               </div>
            </div>
            <div class="col-md-12">
              <div class="row" id="outputs-2"></div>
            </div>
            <!-- <div class="col-md-4">
               <p class="text-results">RISK TO ASSETS<br><b class="text-number">0.019%</b></p>
            </div>
            <div class="col-md-4">
               <p class="text-results">SOCIO-ECONOMIC CAPACITY<br><b class="text-number">71.19%</b></p>
            </div>
            <div class="col-md-4">
               <p class="text-results">RISK TO<br>WELL-BEING<br><b class="text-number">71.19%</b></p>
            </div> -->
         </div>
      </div>
      <div class="col-md-4" style="overflow-x: auto;">
         <div class="row box-general border-content">
            <div class="col-md-12 box-factor">
               <h6>RESILIENCE FACTORS
                  <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                  <i class="mdi mdi-information-outline"></i>
                  </button>
               </h6>
               <div class="box-download">
                  <button type="button" class="btn btn-primary text-download"><img class="img-download" src="assets/image/ic-download.png" alt="">CSV</button>
                  <button type="button" class="btn btn-primary text-download"><img class="img-download" src="assets/image/ic-download.png" alt="">PDF</button>
               </div>
            </div>
         </div>
         <div class="">
            <ngb-tabset type="pills">
               <ngb-tab title="Viewer">
                  <ng-template ngbTabContent>
                     <div class="row">
                        <div class="col-md-12 box-select">
                           <p>Select two countries from map or dropdown:</p>
                        </div>
                     </div>
                     <div class="row box-general border-content box-tab-gc">
                        <div class="col-md-12">
                           <div ngbDropdown class="option-global">
                              <img src="assets/image/icon-map.png" alt="">
                              <button class="btn btn-outline-primary btn-sm dropdown-global" id="dropdownBasic1" ngbDropdownToggle>
                                <span *ngIf="global">Global</span>
                                <span *ngIf="!global">Regional</span>
                              </button>
                              <div class="dropdown-menu box-item" aria-labelledby="dropdownBasic1">
                                 <button class="dropdown-item" (click)="onSwitchGlobal()">
                                   <span *ngIf="!global">Global</span>
                                   <span *ngIf="global">Regional</span>
                                 </button>
                              </div>
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                           </div>
                           <div><i class="mdi mdi-checkbox-blank-circle box-icon-c"></i> <span class="text-country">Country</span></div>
                           <div class="box-dropdown">
                              <div class="form-group" [class.has-danger]="searchFailed">
                                 <input id="country-1Txt" type="text" class="form-control" [(ngModel)]="viewerModel.firstCountry" [ngbTypeahead]="searchCountryFn" #country1="ngModel" (ngModelChange)="onFirstCountryInputChangeEvent()" placeholder="Country 1"/>
                                 <span *ngIf="searching">searching...</span>
                                 <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                              </div>
                              <button type="button" class="btn btn-outline-secondary icon-plus"><i class="mdi mdi-plus"></i></button>
                              <div class="form-group" [class.has-danger]="searchFailed">
                                 <input id="country-2Txt" type="text" class="form-control" [(ngModel)]="viewerModel.secondCountry" [ngbTypeahead]="searchCountryFn" #country2="ngModel" (ngModelChange)="onSecondCountryInputChangeEvent()" placeholder="Country 2"/>
                                 <span *ngIf="searching">searching...</span>
                                 <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 box-tab">
                           <div class="tab">
                              <input id="tab-one" type="checkbox" name="tabs">
                              <label for="tab-one">Social Protection
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              </label>
                              <div class="tab-content">
                                 <div class="row">
                                    <div class="col-md-4 label-text">
                                      <div class="box-tab-text">
                                        Share of social protection / remittances to poor people (% of poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Total social protection spending and remittances (US$,PPP)
                                      </div>
                                      <div class="box-tab-text">
                                        Ability to access post-disaster financial resources (% of population)
                                      </div>
                                      <div class="box-tab-text">
                                        Readiness to scale-up social protection (% increase in SP total payout post-disaster)
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputSoc-1"></div>
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputSoc-2"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                           <div class="tab">
                              <input id="tab-two" type="checkbox" name="tabs">
                              <label for="tab-two">Economic
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              </label>
                              <div class="tab-content">
                                 <div class="row">
                                    <div class="col-md-4 label-text">
                                      <div class="box-tab-text">
                                        Time to recover and reconstruct (years)
                                      </div>
                                      <div class="box-tab-text">
                                        Access to early warning (% of population)
                                      </div>
                                      <div class="box-tab-text">
                                        Financial inclusion, poor people (% of poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Financial inclusion, non-poor people (% of non-poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Wealth, poor people (US$, PPP)
                                      </div>
                                      <div class="box-tab-text">
                                        Wealth, non-poor people (US$, PPP)
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputEco-1"></div>
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputEco-2"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                           <div class="tab">
                              <input id="tab-three" type="checkbox" name="tabs">
                              <label for="tab-three">Exposure
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              </label>
                              <div class="tab-content">
                                 <div class="row">
                                    <div class="col-md-4 label-text">
                                      <div class="box-tab-text">
                                        Exposure to riverine and coastal floods, poor (% of total assets of poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Exposure to riverine and coastal floods, non-poor (% of total assets of non-poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Asset vulnerability, poor people (% destruction of exposed assets of poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Asset vulnerability, non-poor people (% destruction of exposed assets of non-poor)
                                      </div>
                                      <div class="box-tab-text">
                                        Exposure to earthquakes (% of total assets)
                                      </div>
                                      <div class="box-tab-text">
                                        Exposure to tsunamis (% of total assets)
                                      </div>
                                      <!-- <div class="box-tab-text">
                                        Exposure to windstorms (% of total assets)
                                      </div> -->
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputExp-1"></div>
                                    </div>
                                    <div class="col-md-4">
                                      <div id="inputExp-2"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                        </div>
                     </div>
                  </ng-template>
               </ngb-tab>
               <ngb-tab>
                  <ng-template ngbTabTitle>Technical Map</ng-template>
                  <ng-template ngbTabContent>
                     <div class="row">
                        <div class="col-md-12 box-select">
                           <p>Select two countries from map or type the country's name:</p>
                        </div>
                     </div>
                     <div class="row box-general border-content">
                        <div class="col-md-12">
                           <div class="box-input">
                              <div class="form-group" [class.has-danger]="searchFailed">
                                 <input id="country-1Txt" type="text" class="form-control" [(ngModel)]="viewerModel.firstCountry" [ngbTypeahead]="searchCountryFn" #country1="ngModel" (ngModelChange)="onFirstCountryInputChangeEvent()" placeholder="Country 1"/>
                                 <span *ngIf="searching">searching...</span>
                                 <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                              </div>
                              <button type="button" class="btn btn-outline-secondary icon-plus"><i class="mdi mdi-plus"></i></button>
                              <div class="form-group" [class.has-danger]="searchFailed">
                                 <input id="country-2Txt" type="text" class="form-control" [(ngModel)]="viewerModel.secondCountry" [ngbTypeahead]="searchCountryFn" #country2="ngModel" (ngModelChange)="onSecondCountryInputChangeEvent()" placeholder="Country 2"/>
                                 <span *ngIf="searching">searching...</span>
                                 <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h6>Hazard Selection</h6>
                           <p>Select one or multiple hazards:</p>
                           <div class="">
                              <a (click)="onSwitchExposure1()"><img class="icon-hazard" [ngClass]="{'icon-hazard-selected': hazards.hazard1}" src="assets/image/flood.png" alt="" /></a>
                              <a (click)="onSwitchExposure2()"><img class="icon-hazard" [ngClass]="{'icon-hazard-selected': hazards.hazard2}" src="assets/image/earthquake.png" alt="" /></a>
                              <a (click)="onSwitchExposure3()"><img class="icon-hazard" [ngClass]="{'icon-hazard-selected': hazards.hazard3}" src="assets/image/tsunami.png" alt="" /></a>
                              <a (click)="onSwitchExposure4()"><img class="icon-hazard" [ngClass]="{'icon-hazard-selected': hazards.hazard4}" src="assets/image/wind.png" alt="" /></a>
                           </div>
                        </div>
                     </div>
                     <div class="row border-content"></div>
                     <div class="row">
                        <div class="col-md-12 box-tab">
                           <div class="tab">
                              <input id="tab-one" type="checkbox" name="tabs">
                              <label for="tab-one">Social Protection
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              <button type="button" class="btn btn-sm button-reset">RESET</button>
                              <span class="text-social">{{viewerModel.firstCountry}}</span>
                              <span class="text-social">{{viewerModel.secondCountry}}</span>
                              </label>
                              <div class="tab-content">
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Share of social protection / remittances to poor people (% of poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.gamma_SP_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.gamma_SP_cat_info__poor.min"
                                        [max]="sliderValues1.gamma_SP_cat_info__poor.max"
                                        [step]="sliderValues1.gamma_SP_cat_info__poor.step"
                                        [value]="sliderValues1.gamma_SP_cat_info__poor.value"
                                        [(ngModel)]="sliderValues1.gamma_SP_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.gamma_SP_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                         [min]="sliderValues2.gamma_SP_cat_info__poor.min"
                                         [max]="sliderValues2.gamma_SP_cat_info__poor.max"
                                         [step]="sliderValues2.gamma_SP_cat_info__poor.step"
                                         [value]="sliderValues2.gamma_SP_cat_info__poor.value"
                                         [(ngModel)]="sliderValues2.gamma_SP_cat_info__poor.value"
                                         >
                                       </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Total social protection spending and remittances (US$,PPP)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.macro_tau_tax.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.macro_tau_tax.min"
                                        [max]="sliderValues1.macro_tau_tax.max"
                                        [step]="sliderValues1.macro_tau_tax.step"
                                        [value]="sliderValues1.macro_tau_tax.value"
                                        [(ngModel)]="sliderValues1.macro_tau_tax.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.macro_tau_tax.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.macro_tau_tax.min"
                                        [max]="sliderValues2.macro_tau_tax.max"
                                        [step]="sliderValues2.macro_tau_tax.step"
                                        [value]="sliderValues2.macro_tau_tax.value"
                                        [(ngModel)]="sliderValues2.macro_tau_tax.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Ability to access post-disaster financial resources (% of population)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.macro_borrow_abi.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.macro_borrow_abi.min"
                                        [max]="sliderValues1.macro_borrow_abi.max"
                                        [step]="sliderValues1.macro_borrow_abi.step"
                                        [value]="sliderValues1.macro_borrow_abi.value"
                                        [(ngModel)]="sliderValues1.macro_borrow_abi.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.macro_borrow_abi.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.macro_borrow_abi.min"
                                        [max]="sliderValues2.macro_borrow_abi.max"
                                        [step]="sliderValues2.macro_borrow_abi.step"
                                        [value]="sliderValues2.macro_borrow_abi.value"
                                        [(ngModel)]="sliderValues2.macro_borrow_abi.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Readiness to scale-up social protection (% increase in SP total payout post-disaster)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.macro_prepare_scaleup.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.macro_prepare_scaleup.min"
                                        [max]="sliderValues1.macro_prepare_scaleup.max"
                                        [step]="sliderValues1.macro_prepare_scaleup.step"
                                        [value]="sliderValues1.macro_prepare_scaleup.value"
                                        [(ngModel)]="sliderValues1.macro_prepare_scaleup.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.macro_prepare_scaleup.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.macro_prepare_scaleup.min"
                                        [max]="sliderValues2.macro_prepare_scaleup.max"
                                        [step]="sliderValues2.macro_prepare_scaleup.step"
                                        [value]="sliderValues2.macro_prepare_scaleup.value"
                                        [(ngModel)]="sliderValues2.macro_prepare_scaleup.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                           <div class="tab">
                              <input id="tab-two" type="checkbox" name="tabs">
                              <label for="tab-two">Economic
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              </label>
                              <div class="tab-content">
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Time to recover and reconstruct (years)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.macro_T_rebuild_K.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.macro_T_rebuild_K.min"
                                        [max]="sliderValues1.macro_T_rebuild_K.max"
                                        [step]="sliderValues1.macro_T_rebuild_K.step"
                                        [value]="sliderValues1.macro_T_rebuild_K.value"
                                        [(ngModel)]="sliderValues1.macro_T_rebuild_K.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.macro_T_rebuild_K.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.macro_T_rebuild_K.min"
                                        [max]="sliderValues2.macro_T_rebuild_K.max"
                                        [step]="sliderValues2.macro_T_rebuild_K.step"
                                        [value]="sliderValues2.macro_T_rebuild_K.value"
                                        [(ngModel)]="sliderValues2.macro_T_rebuild_K.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Access to early warning (% of population)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.shew_for_hazard_ratio.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.shew_for_hazard_ratio.min"
                                        [max]="sliderValues1.shew_for_hazard_ratio.max"
                                        [step]="sliderValues1.shew_for_hazard_ratio.step"
                                        [value]="sliderValues1.shew_for_hazard_ratio.value"
                                        [(ngModel)]="sliderValues1.shew_for_hazard_ratio.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.shew_for_hazard_ratio.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.shew_for_hazard_ratio.min"
                                        [max]="sliderValues2.shew_for_hazard_ratio.max"
                                        [step]="sliderValues2.shew_for_hazard_ratio.step"
                                        [value]="sliderValues2.shew_for_hazard_ratio.value"
                                        [(ngModel)]="sliderValues2.shew_for_hazard_ratio.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Financial inclusion, poor people (% of poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.axfin_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.axfin_cat_info__poor.min"
                                        [max]="sliderValues1.axfin_cat_info__poor.max"
                                        [step]="sliderValues1.axfin_cat_info__poor.step"
                                        [value]="sliderValues1.axfin_cat_info__poor.value"
                                        [(ngModel)]="sliderValues1.axfin_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.axfin_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.axfin_cat_info__poor.min"
                                        [max]="sliderValues2.axfin_cat_info__poor.max"
                                        [step]="sliderValues2.axfin_cat_info__poor.step"
                                        [value]="sliderValues2.axfin_cat_info__poor.value"
                                        [(ngModel)]="sliderValues2.axfin_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Financial inclusion, non-poor people) (% of non-poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.axfin_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.axfin_cat_info__nonpoor.min"
                                        [max]="sliderValues1.axfin_cat_info__nonpoor.max"
                                        [step]="sliderValues1.axfin_cat_info__nonpoor.step"
                                        [value]="sliderValues1.axfin_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues1.axfin_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.axfin_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.axfin_cat_info__nonpoor.min"
                                        [max]="sliderValues2.axfin_cat_info__nonpoor.max"
                                        [step]="sliderValues2.axfin_cat_info__nonpoor.step"
                                        [value]="sliderValues2.axfin_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues2.axfin_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Wealth, poor people (US$, PPP)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.k_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.k_cat_info__poor.min"
                                        [max]="sliderValues1.k_cat_info__poor.max"
                                        [step]="sliderValues1.k_cat_info__poor.step"
                                        [value]="sliderValues1.k_cat_info__poor.value"
                                        [(ngModel)]="sliderValues1.k_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.k_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.k_cat_info__poor.min"
                                        [max]="sliderValues2.k_cat_info__poor.max"
                                        [step]="sliderValues2.k_cat_info__poor.step"
                                        [value]="sliderValues2.k_cat_info__poor.value"
                                        [(ngModel)]="sliderValues2.k_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 box-tab-text">
                                       Wealth, non-poor people (US$, PPP)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.k_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.k_cat_info__nonpoor.min"
                                        [max]="sliderValues1.k_cat_info__nonpoor.max"
                                        [step]="sliderValues1.k_cat_info__nonpoor.step"
                                        [value]="sliderValues1.k_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues1.k_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.k_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.k_cat_info__nonpoor.min"
                                        [max]="sliderValues2.k_cat_info__nonpoor.max"
                                        [step]="sliderValues2.k_cat_info__nonpoor.step"
                                        [value]="sliderValues2.k_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues2.k_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                           <div class="tab">
                              <input id="tab-three" type="checkbox" name="tabs">
                              <label for="tab-three">Exposure
                              <button type="button" class="btn btn-icon-info" placement="right" ngbPopover="Users of ThinkHazard! can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard." triggers="mouseenter:mouseleave" popoverTitle="">
                              <i class="mdi mdi-information-outline"></i>
                              </button>
                              </label>
                              <div class="tab-content">
                                 <div class="row" [hidden]="!hazards.hazard1">
                                    <div class="col-md-4 box-tab-text">
                                       Exposure to riverine and coastal floods, poor (% of total assets of poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.hazard_ratio_flood_poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.hazard_ratio_flood_poor.min"
                                        [max]="sliderValues1.hazard_ratio_flood_poor.max"
                                        [step]="sliderValues1.hazard_ratio_flood_poor.step"
                                        [value]="sliderValues1.hazard_ratio_flood_poor.value"
                                        [(ngModel)]="sliderValues1.hazard_ratio_flood_poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.hazard_ratio_flood_poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.hazard_ratio_flood_poor.min"
                                        [max]="sliderValues2.hazard_ratio_flood_poor.max"
                                        [step]="sliderValues2.hazard_ratio_flood_poor.step"
                                        [value]="sliderValues2.hazard_ratio_flood_poor.value"
                                        [(ngModel)]="sliderValues2.hazard_ratio_flood_poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard1">
                                    <div class="col-md-4 box-tab-text">
                                       Exposure to riverine and coastal floods, non-poor (% of total assets of non-poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.hazard_ratio_fa__flood.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.hazard_ratio_fa__flood.min"
                                        [max]="sliderValues1.hazard_ratio_fa__flood.max"
                                        [step]="sliderValues1.hazard_ratio_fa__flood.step"
                                        [value]="sliderValues1.hazard_ratio_fa__flood.value"
                                        [(ngModel)]="sliderValues1.hazard_ratio_fa__flood.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.hazard_ratio_fa__flood.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.hazard_ratio_fa__flood.min"
                                        [max]="sliderValues2.hazard_ratio_fa__flood.max"
                                        [step]="sliderValues2.hazard_ratio_fa__flood.step"
                                        [value]="sliderValues2.hazard_ratio_fa__flood.value"
                                        [(ngModel)]="sliderValues2.hazard_ratio_fa__flood.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard1">
                                    <div class="col-md-4 box-tab-text">
                                       Asset vulnerability, poor people (% destruction of exposed assets of poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.v_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.v_cat_info__poor.min"
                                        [max]="sliderValues1.v_cat_info__poor.max"
                                        [step]="sliderValues1.v_cat_info__poor.step"
                                        [value]="sliderValues1.v_cat_info__poor.value"
                                        [(ngModel)]="sliderValues1.v_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.v_cat_info__poor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.v_cat_info__poor.min"
                                        [max]="sliderValues2.v_cat_info__poor.max"
                                        [step]="sliderValues2.v_cat_info__poor.step"
                                        [value]="sliderValues2.v_cat_info__poor.value"
                                        [(ngModel)]="sliderValues2.v_cat_info__poor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard1">
                                    <div class="col-md-4 box-tab-text">
                                       Asset vulnerability, non-poor people (% destruction of exposed assets of non-poor)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.v_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.v_cat_info__nonpoor.min"
                                        [max]="sliderValues1.v_cat_info__nonpoor.max"
                                        [step]="sliderValues1.v_cat_info__nonpoor.step"
                                        [value]="sliderValues1.v_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues1.v_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.v_cat_info__nonpoor.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.v_cat_info__nonpoor.min"
                                        [max]="sliderValues2.v_cat_info__nonpoor.max"
                                        [step]="sliderValues2.v_cat_info__nonpoor.step"
                                        [value]="sliderValues2.v_cat_info__nonpoor.value"
                                        [(ngModel)]="sliderValues2.v_cat_info__nonpoor.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard2">
                                    <div class="col-md-4 box-tab-text">
                                       Exposure to earthquakes (% of total assets)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.hazard_ratio_fa__earthquake.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.hazard_ratio_fa__earthquake.min"
                                        [max]="sliderValues1.hazard_ratio_fa__earthquake.max"
                                        [step]="sliderValues1.hazard_ratio_fa__earthquake.step"
                                        [value]="sliderValues1.hazard_ratio_fa__earthquake.value"
                                        [(ngModel)]="sliderValues1.hazard_ratio_fa__earthquake.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.hazard_ratio_fa__earthquake.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.hazard_ratio_fa__earthquake.min"
                                        [max]="sliderValues2.hazard_ratio_fa__earthquake.max"
                                        [step]="sliderValues2.hazard_ratio_fa__earthquake.step"
                                        [value]="sliderValues2.hazard_ratio_fa__earthquake.value"
                                        [(ngModel)]="sliderValues2.hazard_ratio_fa__earthquake.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard3">
                                    <div class="col-md-4 box-tab-text">
                                       Exposure to tsunamis (% of total assets)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.hazard_ratio_fa__tsunami.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.hazard_ratio_fa__tsunami.min"
                                        [max]="sliderValues1.hazard_ratio_fa__tsunami.max"
                                        [step]="sliderValues1.hazard_ratio_fa__tsunami.step"
                                        [value]="sliderValues1.hazard_ratio_fa__tsunami.value"
                                        [(ngModel)]="sliderValues1.hazard_ratio_fa__tsunami.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.hazard_ratio_fa__tsunami.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.hazard_ratio_fa__tsunami.min"
                                        [max]="sliderValues2.hazard_ratio_fa__tsunami.max"
                                        [step]="sliderValues2.hazard_ratio_fa__tsunami.step"
                                        [value]="sliderValues2.hazard_ratio_fa__tsunami.value"
                                        [(ngModel)]="sliderValues2.hazard_ratio_fa__tsunami.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                                 <div class="row" [hidden]="!hazards.hazard4">
                                    <div class="col-md-4 box-tab-text">
                                       Exposure to windstorms (% of total assets)
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues1.hazard_ratio_fa__wind.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues1.hazard_ratio_fa__wind.min"
                                        [max]="sliderValues1.hazard_ratio_fa__wind.max"
                                        [step]="sliderValues1.hazard_ratio_fa__wind.step"
                                        [value]="sliderValues1.hazard_ratio_fa__wind.value"
                                        [(ngModel)]="sliderValues1.hazard_ratio_fa__wind.value"
                                        >
                                      </md-slider>
                                    </div>
                                    <div class="col-md-4 box-tab-text">
                                      <div class="text-center">{{sliderValues2.hazard_ratio_fa__wind.value | number: '.0-5'}}</div>
                                      <md-slider
                                        [min]="sliderValues2.hazard_ratio_fa__wind.min"
                                        [max]="sliderValues2.hazard_ratio_fa__wind.max"
                                        [step]="sliderValues2.hazard_ratio_fa__wind.step"
                                        [value]="sliderValues2.hazard_ratio_fa__wind.value"
                                        [(ngModel)]="sliderValues2.hazard_ratio_fa__wind.value"
                                        >
                                      </md-slider>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row border-content"></div>
                        </div>
                     </div>
                  </ng-template>
               </ngb-tab>
            </ngb-tabset>
         </div>
      </div>
   </div>
</div>
